{% load static %}
<html>
<head>
	<title>{% block title %}{% endblock %}</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

<link rel="stylesheet" href="{% static 'css/mycss.css' %}">
	<style>
		body{
			background-image: url("{% static 'images/rr.jpg' %}");
			background-repeat: no-repeat;
  			background-size: 100% 110%;
		}
		
	
	</style>

</head>
<body >
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-size:30px;"> Parent Notification and Announcement</a>
    <right>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
	
	{% if user.is_authenticated %}
        <a class="nav-link " aria-current="page" href="{% url 'home' %}" style="font-size:20px;padding-right:40;">Home</a>

	<a class="nav-link " aria-current="page" href="{% url 'about' %}" style="font-size:20px;padding-right:40;">About US</a>
	
	<a class="nav-link " aria-current="page" href="https://docs.google.com/forms/d/e/1FAIpQLScCUJUP_Du00SlVHmp_ykBWWG5EY4bgfP5W9gYK9IIecYm94Q/viewform?usp=sf_link" style="font-size:20px;padding-right:40;">Feedback</a>	
	
	<a class="nav-link " href="{% url 'user_logout' %}" style="font-size:20px;padding-right:40;">Logout</a>

	{% else %}
	<a class="nav-link " aria-current="page" href="{% url 'main' %}" style="font-size:20px;padding-right:40;">Home</a>
        <a class="nav-link " href="{% url 'user_signup' %}" style="font-size:20px;padding-right:40;">SignUp</a>
	<a class="nav-link " href="{% url 'user_login' %}" style="font-size:20px;padding-right:40;">Login</a>
        
	{% endif %}
        
      </div>
    </div>
</right>
  </div>
</nav>
	{% block content %}{% endblock %}


</body>
</html>